<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwS2DS2XQDRLn0ak661tNme3D1k0-3PzM</string>
	<key>GCM_SENDER_ID</key>
	<string>445822933275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aatish.com.Group6-NaturalWalk</string>
	<key>PROJECT_ID</key>
	<string>naturalwalk6</string>
	<key>STORAGE_BUCKET</key>
	<string>naturalwalk6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445822933275:ios:2ea19d5e52b3cdeee49bbe</string>
</dict>
</plist>